*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-main-container {
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    box-shadow: -6px 3px 17px -4px rgba(41,20,20,0.75);
    -webkit-box-shadow: -6px 3px 17px -4px rgba(41,20,20,0.75);
    -moz-box-shadow: -6px 3px 17px -4px rgba(41,20,20,0.75);
    border-radius: 10px;
}

.login-heading {
    font-weight: 700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
}

.login-message {
    color: grey;
    font-size: 15px;
}

.username-password-label {
    font-weight: 450;
    margin-bottom: 2px;
}

.username-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.password-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.forgot-password-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.forgot-password-text {
    margin-top: 4px;
    margin-bottom: 4px;
}


.login-btn {
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #7C3AED;
}

.dont-have-an-account-text {
    text-align: center;
    font-weight: 350;
    font-size: 14px;
}

.login-signup-link-item {
    text-decoration: none;
    color: #7C3AED;
    font-weight: 450;
}

.error-message {
    font-size: 13px;
    color: red;
    text-align: center;
}

.password-box {
    border: none;
    outline: none;
}

.show-hide-btn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.password-input-box:focus-within {
    outline: 1px solid#7C3AED; /* Border color when input is focused */
}

.username-password-input-box:focus-within {
    outline: 1px solid#7C3AED; /* Border color when input is focused */
}

@media (max-width: 767px){
    .login-heading {
        font-size: 26px;
    }

    .login-message {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
        width: 80vw;
    }

    .username-password-label {
        font-size: 13px;
    }

    .username-password-input-box {
        width: 62vw;
        height: 35px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        outline-color: #7C3AED;
        padding: 5px;
    }

    .password-input-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 62vw;
        height: 35px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        outline-color: #7C3AED;
        padding: 5px;
    }

    .password-box {
        width: 55vw;
    }

    .login-btn {
        width: 62vw;
        margin-top: 10px;
        height: 35px;
        cursor: pointer;
        color: #ffffff;
        font-size: 13px;
        padding: 5px;
    }
}

@media (min-width: 768px){
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 50vw;
    }

    .username-password-input-box {
        width: 30.5vw;
        height: 35px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        outline-color: #7C3AED;
        padding: 5px;
    }

    .password-input-box {
        display: flex;
        justify-content: space-between;
        width: 30.5vw;
        height: 35px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        outline-color: #7C3AED;
        padding: 5px;
    }

    .password-box {
        width: 24.5vw;
    }

    .login-btn {
        width: 30.5vw;
        margin-top: 10px;
        height: 35px;
        cursor: pointer;
        color: #ffffff;
        font-size: 14px;
        padding: 5px;
    }
}